$primary-color: #af3232;

*{
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: rgb(128, 19, 0);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}